/* COMMONS */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

.bg-dark {
  background-color: #222f3f;
}

.bg-light {
  background-color: #364759;
}

.secondary-title {
  font-weight: 600;
}

.shop-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: #1e7cb7;
  margin-left: 30px;
}

.card-size {
  margin-left: 30px;
  margin-bottom: 25px;
  border-radius: 8%;
  background-size: cover;
  background-position-x: -60px;
  height: 450px;
  width: 360px;
  display: inline-block;
  box-shadow: 10px 6px 29px -6px #000000;
}

.card-size:hover {
  height: 470px;
  width: 368px;
}
/* HEADER */

.header a .logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 150px;
}

/* NAV */

.navbar {
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.navbar p {
  display: inline;
}

.navbar p a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.navbar p .All-link {
  margin-left: 0;
}

/* MAIN */
.main {
  margin-left: 30px;
  margin-right: 30px;
}

/* FIRST SECTION (GIFT) */
.gift-section {
  text-align: center;
}

.gift-section .gift-cards-link {
  background-color: #f56600;
  margin-bottom: 30px;
}

.gift-section .gift-cards-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gift-section .gift-cards-link a {
  color: white;
  text-decoration: none;
}

.gift-guides {
  background-image: url(../Img/bg-image.png);
  background-size: 92%;
}

.gift-section .gift-guides {
  color: white;
}

.gift-section .gift-guides .title {
  padding-top: 80px;
  font-size: 2rem;
  opacity: 0.9;
}

.gift-section .gift-guides .subtitle {
  font-weight: 700;
  margin-top: 0;
  padding-bottom: 50px;
  font-size: 1.3rem;
}

/* SEZIONE 2 (SUGGEST) */

.suggest-section {
  text-align: center;
  background-color: white;
}

.suggest-section .suggest-container {
  margin-left: 30px;
  margin-right: 30px;
}

.suggest-section .suggest-container .secondary-title {
  text-align: left;
  font-weight: 600;
  padding-top: 20px;
}

.suggest-section .card-1 {
  background-image: url(../Img/img_1.jpg);
}

.suggest-section .card-2 {
  background-image: url(../Img/img_2.jpg);
  background-position-x: -100px;
}

.suggest-section .card-3 {
  background-image: url(../Img/img_3.jpg);
  background-position-x: -100px;
}

.suggest-section .card-4 {
  background-image: url(../Img/img_4.jpg);
  background-position: -100px;
  margin-right: 30px;
}

/* SEZIONE 3 (VIDEOGAME) E 4 (MUSIC)*/

.general-section {
  text-align: center;
}

.general-section img {
  width: 100%;
}

.general-section .secondary-title {
  font-size: 1.4rem;
  margin-top: 5px;
}

/*  FOOTER*/

.footer {
  text-align: center;
}

.footer .scroll-top {
  padding-top: 20px;
  margin-bottom: 20px;
}

.footer .scroll-top .scroll-style {
  color: white;
}

.footer .footer-logo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .footer-logo a img {
  width: 180px;
}
